<template name = "edit_story">

	<div class = "container-fluid">
		<div class = "row">
	    	{{> sidebar}}


	        <div class = "col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-2">
		        <h2 id = "editor_header">The Story so Far...</h2>
		        <h4 id = "editor_subtitle">Where are we going with this?</h4>
	        	<div class = "playground">
	        		<div class="panel panel-warning" id = "empty_panel">
	        			<div class = "panel-heading">
		        			<h1 class = "panel-title" id = "empty_warning">No locations, no characters, no story. Check out the World, Location, and Plot panels to Get Started!</h1>
		        		</div>
	        		</div>
	        	</div>

	        </div>
    	</div>
    </div>

</template>