<template name = "new_entity_form">

	<div class = "row">
		<div class = "col-4">
			<div class="btn-group">
			  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add an existing entity</button>
			  <div class="dropdown-menu dropdown-menu-right">
			  	{{#each entity}}
			  		{{> entity_prev_dropdown}}
			  	{{/each}}
			  </div>
			</div>
		</div>
		<div class = "col-8">
			<input id = "new_other_name_field" type = "text" class = "form-control new_other_name_field" placeholder = "...or make up a new one" data-toggle="popover" title="Press Enter to Create It" data-content="We'll automatically make a new card for ya.">
		</div>
	</div>

</template>

<template name = "new_entity_name">
	<li id = "new-template" class = "list-group-item list-group-item-action "></li>
</template>

<template name = "new_description_form">

	<form>
		<div class = "form-group">
			<textarea class = "form-control" rows = "25" id = "entity_desc_field"></textarea>
		</div>
	</form>

</template>

<template name = "event_prev">
	<a href = "#" class = "list-group-item playground_entity_prev" id = "{{_id}}">{{time}} : {{name}}</a>
</template>

<template name = "entity_prev">
	<a href = "#" class = "list-group-item playground_entity_prev" id = "{{_id}}">{{name}}</a>	
</template>

<template name = "entity_prev_dropdown">
	<a href = "#" class = "dropdown-item existing_entity_dropdown_btn" id = "{{_id}}">{{name}}</a>	
</template>

<template name = "description">
	<p>{{description}}</p>
</template>