<template name = "sidebar">
  <div id = "sidebar">
    <nav class="nav flex-column">
      <h3>{{story_title}}</h3>
      <div class = "list-group">
        <a href = "#settings_entities" id = "setting_toggle" class = "list-group-item" data-toggle="collapse" aria-expanded = "false" aria-controls = "settings_entities">Setting</a>
      </div>
        <div class = "collapse" id = "settings_entities">
          <div class = "row ml-3"><a href="#" id = "locations" class = "entity_type_switch">Locations</a></div>
          <div class = "row ml-3"><a href="#" id = "factions" class = "entity_type_switch">Factions and Races</a></div>
          <div class = "row ml-3"><a href="#" id = "items" class = "entity_type_switch">Items</a></div>
          <div class = "row ml-3"><a href="#" id = "concepts" class = "entity_type_switch">Rules and Concepts</a></div>
        </div>
    </nav>
    <nav class="nav flex-column">
      <div class = "list-group">
        <a href = "#character_entities" id = "character_toggle" class = "list-group-item" data-toggle="collapse" aria-expanded = "false" aria-controls = "character_entities">Characters</a>
      </div>
      <div class = "collapse" id = "character_entities">
          <div class = "row ml-3"><a href="#" id = "characters" class = "entity_type_switch">Protagonists</a></div>
      </div>
    </nav>
    <nav class="nav flex-column">
      <div class = "list-group">
        <a href = "#plot_entities" id = "plot_toggle" class = "list-group-item" data-toggle="collapse" aria-expanded = "false" aria-controls = "plot_entities">Plot</a>
      </div>
      <div class = "collapse" id = "plot_entities">
          <div class = "row ml-3"><a href="#" id = "events" class = "entity_type_switch">Events</a></div>
          <!--<div class = "row ml-3"><a href = "#" id = "story_so_far">The Story So Far</a></div>-->
      </div>
    </nav>
  </div>

</template>