<template name = "sidebar">


    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
        <!-- Link with dropdown items -->
        <li>
            <a href="#worldsubmenu" data-toggle="collapse" aria-expanded="false">World Building <span class ="glyphicon glyphicon-triangle-bottom"></span></a>
            <ul class="collapse nav nav-sidebar" id="worldsubmenu">
                <li><a href="#" id = "locations" class = "entity_type_switch">Locations</a></li>
                <li><a href="#" id = "factions" class = "entity_type_switch">Factions and Races</a></li>
                <li><a href="#" id = "items" class = "entity_type_switch">Items</a></li>
                <li><a href="#" id = "concepts" class = "entity_type_switch">Rules and Concepts</a></li>
            </ul>
        </li>
        </ul>

        <ul class="nav nav-sidebar">
            <li>
                <a href="#charsubmenu" data-toggle="collapse" aria-expanded="false">Characters <span class ="glyphicon glyphicon-triangle-bottom"></span></a>
                <ul class="collapse nav nav-sidebar" id="charsubmenu">
                    <li><a href="#" id = "heroes" class = "entity_type_switch">Protagonists</a></li>
                    <li><a href="#" id = "villains" class = "entity_type_switch">Antagonists</a></li>
                    <li><a href="#" id = "npc" class = "entity_type_switch">Side Characters</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav nav-sidebar">
            <li>
                <a href="#plotsubmenu" data-toggle="collapse" aria-expanded="false">Plot <span class ="glyphicon glyphicon-triangle-bottom"></span></a>
                <ul class="collapse nav nav-sidebar" id="plotsubmenu">
                    <li><a href="#" id = "plot_b" class = "entity_type_switch">Beginning</a></li>
                    <li><a href="#" id = "plot_r" class = "entity_type_switch">Rising Action</a></li>
                    <li><a href="#" id = "plot_m" class = "entity_type_switch">Middle</a></li>
                    <li><a href="#" id = "plot_f" class = "entity_type_switch">Falling Action</a></li>
                    <li><a href="#" id = "plot_e" class = "entity_type_switch">End</a></li>
                </ul>
            </li>
        </ul>

        <ul class = "nav nav-sidebar">
            <li><a href = "#" id = "story_so_far">The Story So Far</a></li>
        </ul>

    </div>
</template>