<template name = "edit_story">

	<div class = "container-fluid">
	    <div class = "page-header">
		    <h2 id = "editor_header">Edit your story!</h2>
		</div>
		<h4 id = "editor_subtitle">Press on the tabs to start making up the entities that will be part of your story.</h4>


			{{#if not_the_story_so_far}}
				{{> playground}}
			{{else}}
				<p>Under construction...</p>
			{{/if}}

	</div>

</template>

<template name = "playground">

	<div class = "row playground">
		<div class = "col-4" id = "entity_prev_list">

			{{#if show_warning}}
				{{> empty_warning}}
			{{/if}}

			<div id = "create_btn"><button class = "btn btn-outline-primary open-modal-btn" id = "add_entity_btn" data-toggle="modal" data-target="#edit_modal">Add</button></div>

	     	<div class = "list-group" id = "entity_list">

				{{#each entity}}
					{{#if is_event_state}}
						{{> event_prev}}
					{{else}}
						{{> entity_prev}}
					{{/if}}
				{{/each}}

	     	</div>
	     </div>

	     <div class = "col-8" id = "entity_card">
	     	{{#if show_card}}
	     		{{> entity_card}}
	     	{{/if}}
	     </div>
	</div>

	{{> edit_entity_modal}}

</template>

<template name = "empty_warning">

	<div class="card border-warning text-danger" id = "empty_panel">
		<div class = "card-header" id = "empty_warning">
			No locations, no characters, no story. Check out the World, Location, and Plot panels to Get Started!
		</div>
	</div>

</template>

<template name = "entity_card">


	<h1 class = "text-center">{{name}}</h1>
	<div class = "row">
		<div class = "col">
			<button class = "btn btn-outline-success open-modal-btn float-right" data-toggle="modal" data-target="#edit_modal" id = "edit_entity_btn">Edit</button>
		</div>
		<div class = "col">
			<button class = "btn btn-outline-danger" id = "delete_entity_btn">Delete</button>
		</div>
	</div>


	{{> entity_components_nav}}

    {{#if is_entity}}

      {{#each entity}}
      	{{> entity_prev}}
      {{/each}}

    {{else}}

        {{#if is_misc}}
	      	{{> description}}
	    {{/if}}

    {{/if}}

</template>

