<template name = "user_dashboard">
	<div class = "container">
		<h1 class="page-header user-greeting">Hello, {{>username}}!</h1>

		<h3>Which story would you like to edit?</h3>
		<button class = "btn btn-primary" id = "create_new_story_btn" data-toggle="modal" data-target="#new_story_modal">Create a new Story</button>
		{{#each stories}}

			{{> story_prev}}

		{{/each}}
	</div>

	{{> new_story_modal}}

</template>

<template name = "username">

	<span>{{user_name}}</span>

</template>


<template name = "story_prev">

	<div class = "card story_prev" id = "{{_id}}">
		<div class = "card-body" id = "{{_id}}">
			<h4 class = "card-title" id = "{{_id}}">{{name}}</h4>
			<p class = "card-text" id = "{{_id}}">{{desc}}.</p>
		</div>
		<div class = "card-footer" id = "{{_id}}">
			<button class = "btn btn-outline-success edit_story_btn">Edit</button>
			<button class = "btn btn-outline-danger delete_story_btn">Delete</button>
		</div>
	</div>

</template>